<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand pl-5"><span class="p-3"></span>{{" "+user.nombre + " " + user.apellido}}</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="nav-link text-dark h3" (click)="openModal()">Datos de la cuenta</button>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link text-dark h3">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Contenido principal -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div>
                <a (click)="verificarPrueba(1)" style="text-decoration: none;">
                    <div class="card shadow-sm h-100"
                        [ngClass]="{'border-custom-green bg-custom-green text-white': getResultadoPorPrueba(1)}">
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" width="170" height="170">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                            </svg>
                            <div class="pt-5"></div>
                            <h2 class="card-title">Test de Orientación Profesional</h2>
                            <div class="pt-3"></div>
                            <p class="card-text">Identifica intereses y aptitudes en pocos minutos</p>
                        </div>
                    </div>
                </a>


            </div>
            <div *ngIf="getResultadoPorPrueba(1)">
                <button class="btn btn-primary mt-3" (click)="toggleResultado()">
                    {{ mostrarResultado ? 'Ocultar Resultado' : 'Mostrar Resultado' }}
                </button>

                <div *ngIf="mostrarResultado">
                    <div class="card mt-3 max-w-full mx-auto overflow-auto">
                        <div class="card-header text-center">
                            Resultado de la Prueba
                        </div>
                        <div class="card-body justify-content-end">
                            <p class="card-text">{{ getResultadoPorPrueba(1) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a (click)="verificarPrueba(2)" style="text-decoration: none;">
                    <div class="card shadow-sm h-100"
                        [ngClass]="{'border-custom-green bg-custom-green text-white': getResultadoPorPrueba(2)}">
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" width="170" height="170">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                            </svg>
                            <div class="pt-5"></div>
                            <h2 class="card-title">Test de Interés y Aptitud</h2>
                            <div class="pt-3"></div>
                            <p class="card-text">Evalúa preferencias para recomendar opciones
                                profesionales
                                alineadas.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div *ngIf="getResultadoPorPrueba(2)">
                <button class="btn btn-primary mt-3" (click)="toggleResultado2()">
                    {{ mostrarResultado2 ? 'Ocultar Resultado' : 'Mostrar Resultado' }}
                </button>

                <div *ngIf="mostrarResultado2">
                    <div class="card mt-3 max-w-full mx-auto overflow-auto">
                        <div class="card-header text-center">
                            Resultado de la Prueba
                        </div>
                        <div class="card-body justify-content-end">
                            <p class="card-text">{{ getResultadoPorPrueba(2) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <a (click)="verificarPrueba(3)" style="text-decoration: none;">
                    <div class="card shadow-sm h-100"
                        [ngClass]="{'border-custom-green bg-custom-green text-white': getResultadoPorPrueba(3)}">
                        <div class="card-body d-flex flex-column align-items-center text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" width="170" height="170">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                            <div class="pt-5"></div>
                            <h2 class="card-title">Test de Personalidad</h2>
                            <div class="pt-5"></div>
                            <p class="card-text">Analiza rasgos de personalidad para sugerir carreras que coincidan con
                                tu
                                perfil.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div *ngIf="getResultadoPorPrueba(3)">
                <button class="btn btn-primary mt-3" (click)="toggleResultado3()">
                    {{ mostrarResultado3 ? 'Ocultar Resultado' : 'Mostrar Resultado' }}
                </button>

                <div *ngIf="mostrarResultado3">
                    <div class="card mt-3 max-w-full mx-auto overflow-auto">
                        <div class="card-header text-center">
                            Resultado de la Prueba
                        </div>
                        <div class="card-body justify-content-end">
                            <p class="card-text">{{ getResultadoPorPrueba(3) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="getResultadoPorPrueba(3) && getResultadoPorPrueba(2) && getResultadoPorPrueba(1)" class="pt-2">
        <button class="btn btn-primary" (click)="obtenerResultadoFinal()">Ver resultado final</button>
        <div *ngIf="respuesta_final!=''">
            <div class="card mt-3">
                <div class="card-header">
                    Resultado final
                </div>
                <div class="card-body">
                    <p class="card-text">{{ respuesta_final }}</p>
                    <a type="button" class="btn btn-link" (click)="generateCertificateForStudent()">ver certificado</a>
                    <a type="button" class="btn btn-link" (click)="generarPDF()">ver reporte</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- administrar datos -->
<div class="modal fade" [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}"
    tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Datos del usuario</h5>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="registrarUsuario()">
                    <div class="form-group pt-3">
                        <label for="cedula">Cédula</label>
                        <input type="text" class="form-control" id="cedula" placeholder="Ingrese su cédula"
                            [(ngModel)]="user.cedula" name="cedula">
                    </div>

                    <div class="form-group pt-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre"
                            [(ngModel)]="user.nombre" name="nombre">
                    </div>

                    <div class="form-group pt-3">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido"
                            [(ngModel)]="user.apellido" name="apellido">
                    </div>

                    <div class="form-group pt-3">
                        <label for="correo">Correo electrónico</label>
                        <input type="email" class="form-control" id="correo" aria-describedby="emailHelp"
                            placeholder="Ingrese su correo electrónico" [(ngModel)]="user.correo" name="correo">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo con nadie
                            más.</small>
                    </div>

                    <div class="form-group pt-3">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su teléfono"
                            [(ngModel)]="user.telefono" name="telefono">
                    </div>

                    <hr>

                    <div class="form-group pt-3">
                        <label for="usuario">Usuario</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Ingrese su nombre de usuario"
                            [(ngModel)]="user.usuario" name="usuario">
                    </div>

                    <div class="form-group pt-3">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena" placeholder="Ingrese su contraseña"
                            [(ngModel)]="user.contrasena" name="contrasena">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Backdrop -->
<div *ngIf="isModalOpen" class="modal-backdrop fade show"></div>